// /* stylelint-disable declaration-no-important */
@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.btn {
    padding: 20px 32px;
    border-radius: calc(var(--radius-main) / 1.5);
    font-size: 18px;
    font-weight: var(--fw-500);
    line-height: 1.21;
    display: inline-block;
  
  
    &--request {
      background-color: var(--color-brown);
      color: var(--color-white);
      border: none;
  
      @include media(tablet-wide) {
        padding: 5px;
        font-size: 13px;
      }
    }
  
    &--simple {
      background-color: transparent;
      color: var(--color-brown);
      border: 1px solid var(--color-brown);
    
  
      @include media(tablet-wide) {
        padding: 5px;
        font-size: 13px;
      }
    }
}