@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  position: relative;
  width: 100%;
  background-color: var(--color-page-background);
  border-top: 1px solid var(--color-beige);
  border-bottom: 1px solid var(--color-beige);
  transition-property: transform, padding;
  transition-duration: 0.15s;

  &__copyrigth {
    text-align: center;
  }

  &__nav{
    display: flex;
    align-items: center;

    &__link {
      background-color: var(--color-page-background);
    }

    @include media(tablet) {
      flex-direction: column;
  
      .logo {
        margin-bottom: 24px;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include media(tablet) {
      align-items: center;
      justify-content: center
    }

    @include media(mobile-l) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  .nav__list {
    z-index: 0;
    flex-direction: row;

    @include media(mobile-l) {
      margin-bottom: 23px;
    }
  }

  .nav__item {
    @include media(mobile-l) {
      margin-right: 12px;
      margin-bottom: 0;
    }
  }

  .logo {
    max-width: 302px;
    width: 100%;
  }

  .btn {
    padding: 8px 20px;
  }

  p {
    color: var(--color-white);
    font-size: 16px;
  }

  .container {
    max-width: 1390px;
    padding: 12px var(--container-offset);
  }

  .btn--simple {
    margin-right: 20px;

    @include media(mobile-l) {
      margin-bottom: 12px;
      margin-right: 0;
    }
  }

  @include media(mobile-l) {
    &__nav {
      align-items: flex-start;
    }
  }

  @include media(mobile-s) {
    &__nav {
      .logo {
        max-width: 200px;
      }
    }
  }
    
  &__copyrigth {
    padding: 88px 0;
    color: var(--color-white);
    background-color: var(--color-gray);
    .copyrigth{
      &__inner{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1216px;

        @include media(mobile-l) {
          flex-direction: column;
          align-items: center;
        }
        p {
          @include media(mobile-l) {
            padding-bottom: 23px;
          }
        }
      }
      &__list {
        display: flex;
      }
      &__item {
        &:not(:last-child) {
          margin-right: 48px;
        }
      }
    }

    @include media(tablet) {
      padding: 30px 0;
    }
  }
  @include media(mobile-l) {
    .logo {
      margin-bottom: 0;
    }
  }
}