@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.footer {
  &__copyrigth {
    text-align: center;
  }

  .nav{
    &__link {
      background-color: var(--color-page-background);
    }
  }

  .btn {
    padding: 8px 20px;
    max-height: 40px;
  }

  p {
    color: var(--color-white);
    font-size: 16px;
  }

  &__copyrigth {
    padding: 88px 0;
    color: var(--color-white);
    background-color: var(--color-gray);
    .copyrigth{
      &__inner{
        display: flex;
        justify-content: space-between;
      }
      &__list {
        display: flex;
      }
      &__item {
        &:not(:last-child) {
          margin-right: 48px;
        }
      }
    }
  }
}