@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;

  display: flex;
  align-items: center;
  margin-bottom: 213px;
  justify-content: flex-start;

  &__inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__content {
    z-index: 1;
    width: 100%;
    max-width: 544px;
  }

  &__image {
    margin-right: 52px;
  }

  h1 {
    margin-bottom: 24px;
    font-size: 38px;
    line-height: 1.2;
  }

  p {
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 32px;
  }

  &__btns {
    .btn {
      padding: 20px 32px;
      max-height: unset;

      &--simple {
        margin-right: 24px;
      } 
    }
  }

  &--services {
    padding: 122px 0 96px 0;
    margin-bottom: 0;

    #{$root}__inner {
      min-height: 542px;
      overflow: unset;
      h1 {
        margin-bottom: 23px;
        color: var(--color-text-general);
      }
    }

    #{$root}__content {
      position: relative;
      top: -45px;
      max-width: 564px;
    }

    .overlay {
      &::before {
        display: none;
      }
    }

    p {
      font-size: 26px;
      line-height: 1.2;
      color: var(--color-text-subtitles);
    }
  }

  &--about {
    #{$root}__content {
      max-width: 427px;
    }
  }

  &--portfolio {
    justify-content: end;
    margin-bottom: 0;

    #{$root}__inner {
      min-height: 671px;
      width: 100%;
      background-size: cover;
      background-position: 0px 55%;
      align-items: flex-end;
    }

    #{$root}__content {
      padding: 72px 56px;
      max-width: 640px;
    }
  }

  @include media( desktop-midle) {
    margin-bottom: 113px;
    &__image {
      max-width: 600px;
    }
  }

  @include media(tablet-wide) {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 26px;
    }
    p{
      font-size: 18px;
    }

    &__btns {
      .btn {
        max-height: unset;
        padding: 10px 20px;

        &--simple {
          margin-right: 12px;
        } 
      }
    }

    &__image {
      max-width: 500px;
    }
  }

  @include media(tablet) {
    margin-bottom: 0;
    padding: 0;

    &__inner {
      min-height: 442px;
    }

    &__image {
      max-width: 400px;
      margin-right: 12px;
    }

    &--services {
      #{$root}__content {
        top: 0;
      }
    }
  }

  @include media(mobile-l) {
    flex-direction: column;
    align-items: center;

    .hero__inner {
      position: relative;
      padding: 20px 0;
      background-position: bottom center;
      background-size: cover;
    }

    &--home {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      #{$root}__content {
        padding: 10px;
      }

      #{$root}__image {
        max-width: 100%;
        max-height: 300px;
      }
    }    
  }

}