@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.approach {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 384px;

    h3 {
      color: var(--color-text-subtitles);
      font-size: 24px;
      font-weight: var(--fw-600);
      line-height: 1.5;
      letter-spacing: 2%;
      margin-bottom: 16px;
    }

    p {
      color: var(--color-gray-07);
      font-size: 18px;
      font-weight: var(--fw-400);
      line-height: 1.6;
      text-align: center;
    }
  }

  h2 {
    margin-bottom: 60px;
  }

  &__svg {
    width: 96px;
    height: 96px;
    background-color: var(--color-beige-03);
    border-radius: 16px;
    margin-bottom: 24px;
    position: relative;

    &--creativity {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.8973 0C35.0808 0 36.0401 0.95939 36.0401 2.14286V4.95631C36.0401 6.13978 35.0808 7.09917 33.8973 7.09917C32.7139 7.09917 31.7545 6.13978 31.7545 4.95631V2.14286C31.7545 0.95939 32.7139 0 33.8973 0ZM13.8779 29.9593C18.4764 29.9593 22.2044 26.2315 22.2044 21.6328C22.2044 17.0342 18.4764 13.3063 13.8779 13.3063C9.27926 13.3063 5.55134 17.0342 5.55134 21.6328C5.55134 26.2315 9.27926 29.9593 13.8779 29.9593ZM0 46.6121C0 38.9479 6.21319 32.7348 13.8775 32.7348C21.5419 32.7348 27.755 38.9479 27.755 46.6121C27.755 47.3787 27.1337 48 26.3673 48H1.38775C0.621319 48 0 47.3787 0 46.6121ZM47.028 8.54654C47.9966 7.86658 48.2307 6.53013 47.5509 5.56149C46.8706 4.59288 45.5342 4.35888 44.5656 5.03883L42.263 6.6553C41.2944 7.33529 41.0602 8.67175 41.7401 9.64035C42.4203 10.609 43.7568 10.843 44.7254 10.163L47.028 8.54654ZM20.2372 5.56149C19.5573 6.53013 19.7913 7.86658 20.7599 8.54654L23.0626 10.163C24.0312 10.843 25.3677 10.609 26.0476 9.64035C26.7276 8.67175 26.4936 7.33529 25.525 6.6553L23.2223 5.03883C22.2537 4.35888 20.9172 4.59288 20.2372 5.56149ZM33.7389 9.73773C37.967 9.64992 41.5461 13.1687 41.5303 17.3977C41.4957 20.2051 39.8129 22.8854 37.2994 24.1365V27.953C37.2939 28.1748 37.2017 28.3856 37.0426 28.5404C36.8839 28.6952 36.6706 28.7818 36.4488 28.7818H31.3457C31.1239 28.7818 30.9108 28.6952 30.7519 28.5404C30.593 28.3856 30.5009 28.1748 30.4952 27.953V24.2019C28.0585 22.9887 26.3954 20.4339 26.2722 17.7146C26.0808 13.49 29.5108 9.82553 33.7389 9.73773Z' fill='%23646464'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 48px 48px;
    }

    &--empathy {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_55_1741)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M48 24C48 10.7452 37.2549 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2549 10.7452 48 24 48C37.2549 48 48 37.2549 48 24ZM35.7946 16.9766C35.7946 18.9137 34.2266 20.4847 32.2905 20.4891L32.2822 20.4892C30.3422 20.4892 28.7696 18.9165 28.7696 16.9766C28.7696 15.0394 30.3377 13.4685 32.2738 13.464L32.2821 13.464C34.2221 13.464 35.7946 15.0367 35.7946 16.9766ZM19.2305 16.9766C19.2305 18.9138 17.6623 20.4847 15.7262 20.4891L15.7178 20.4892C13.7779 20.4892 12.2053 18.9165 12.2053 16.9766C12.2053 15.0394 13.7734 13.4685 15.7095 13.464L15.7179 13.464C17.6578 13.464 19.2305 15.0367 19.2305 16.9766ZM14.3655 26.6073C14.058 25.4645 12.8823 24.7874 11.7395 25.0949C10.5967 25.4024 9.91954 26.5782 10.2271 27.721C11.8624 33.7978 17.4088 38.2735 24.006 38.2735C30.6032 38.2735 36.1495 33.7978 37.7849 27.721C38.0925 26.5782 37.4153 25.4024 36.2726 25.0949C35.1298 24.7874 33.9539 25.4645 33.6464 26.6073C32.5019 30.8601 28.6165 33.9876 24.006 33.9876C19.3955 33.9876 15.51 30.8601 14.3655 26.6073Z' fill='%23646464'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_55_1741'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 48px 48px;
    }

    &--attention {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.17143 0C4.53466 0 2.96494 0.650201 1.80757 1.80757C0.650201 2.96494 0 4.53466 0 6.17143V41.8286C0 43.4654 0.650204 45.035 1.80757 46.1925C2.96494 47.3499 4.53466 48 6.17143 48H18.906C18.5929 47.2824 18.4781 46.4832 18.5902 45.6881L18.9738 42.9641H6.77143C6.31111 42.9641 5.86961 42.7814 5.5441 42.456C5.21859 42.1303 5.03571 41.689 5.03571 41.2286V24.0131C5.37487 24.0044 5.71509 24 6.05633 24C12.4848 24 18.5509 25.5515 23.9006 28.3004C24.5656 28.784 25.4832 29.4739 26.5001 30.2724L36.9432 19.8072C37.7465 19.002 38.8371 18.5493 39.9744 18.5487C41.112 18.5481 42.203 18.9997 43.0073 19.8039L48 24.7967V6.17143C48 4.53466 47.3499 2.96494 46.1925 1.80757C45.035 0.650204 43.4654 0 41.8286 0H6.17143ZM35.893 12.308C35.893 15.1484 33.5903 17.4509 30.75 17.4509C27.9097 17.4509 25.6071 15.1484 25.6071 12.308C25.6071 9.46773 27.9097 7.16517 30.75 7.16517L30.8276 7.16575L30.904 7.16517C33.6593 7.16517 35.893 9.39874 35.893 12.154L35.8923 12.2304L35.893 12.308ZM23.3027 42.9641L22.834 46.2857L30.1377 45.2921L46.2864 29.1434L39.9778 22.8348L23.8634 38.9835L23.3027 42.9641Z' fill='%23646464'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 48px 48px;
    }

    &--commitment {
      background-image: url("data:image/svg+xml,%3Csvg width='46' height='44' viewBox='0 0 46 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.7524 16.714C45.5433 16.0505 44.9592 15.5601 44.2669 15.4592L30.7164 13.4904L24.6515 1.20917C24.0313 -0.0456353 21.9688 -0.0456353 21.3414 1.20917L15.2837 13.4904L1.7332 15.4592C1.0409 15.5601 0.456763 16.0433 0.240416 16.714C0.0240703 17.3847 0.204358 18.1202 0.709165 18.6034L10.5169 28.1659L8.20195 41.6587C8.08657 42.351 8.36782 43.0577 8.93753 43.4688C9.50724 43.8798 10.2572 43.9375 10.8774 43.6058L23 37.238L35.1154 43.6058C35.3895 43.75 35.6851 43.8149 35.9808 43.8149C36.363 43.8149 36.738 43.6996 37.0625 43.4688C37.6322 43.0505 37.9135 42.351 37.7981 41.6587L35.4832 28.1659L45.2909 18.6034C45.7957 18.113 45.9688 17.3847 45.7524 16.714Z' fill='%23646464'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 48px 48px;
    }

    &--personalized {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='34' viewBox='0 0 48 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.463 10.971L23.2774 6.62034C25.5176 4.59604 28.534 3.65819 31.5271 4.05549L37.8957 4.90091L46.7355 0.122853C47.3064 -0.185821 48 0.227699 48 0.876899V17.122C48 18.2282 47.4665 19.2665 46.5669 19.9102L40.6138 24.17L34.1712 18.7642C35.4655 18.3052 36.5709 17.5483 37.4829 16.6025C38.3043 15.7505 38.2797 14.3939 37.4277 13.5725C36.576 12.751 35.2193 12.7757 34.3978 13.6276C33.7602 14.2889 33.0232 14.7137 32.1609 14.8825C31.4095 15.0297 30.4526 15.0034 29.2495 14.6346L27.7184 13.3499L23.4515 16.803C21.7753 18.1595 19.3109 17.8697 17.9953 16.1612C16.7731 14.5741 16.9767 12.314 18.463 10.971ZM15.5895 7.79113L19.0465 4.66725C17.5788 4.26683 16.0239 4.18478 14.4877 4.45077L8.19432 5.54041L1.29075 1.82504C0.707314 1.51105 0 1.93362 0 2.59619L7.03317e-05 17.1205C7.57961e-05 18.2789 0.572767 19.3624 1.52993 20.0149L20.2325 32.7641C22.6537 34.4146 25.8463 34.3841 28.2353 32.6873L36.8259 26.5862L27.6692 18.903L26.1476 20.1344C22.6 23.0054 17.3842 22.3919 14.5997 18.776C12.013 15.417 12.444 10.6336 15.5895 7.79113Z' fill='%23646464'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 48px 48px;
    }

    &--seamless {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.827 0.346191L30.0578 1.50004L30.8078 4.96158C30.1155 5.46638 29.5457 6.101 29.0193 6.80773L25.5001 6.00004L24.3462 8.76927L27.3462 10.6731C27.2092 11.5385 27.2236 12.4111 27.3462 13.2693L24.3462 15.1731L25.4424 17.9423L28.9616 17.1923C29.4664 17.8774 30.101 18.4544 30.8078 18.9808L29.9424 22.5L32.7116 23.6539L34.6732 20.5962C35.5385 20.726 36.4256 20.726 37.2693 20.5962L39.1732 23.6539L41.9424 22.5577L41.1347 19.0385C41.8198 18.5337 42.4039 17.8919 42.9232 17.1923L46.5001 18L47.6539 15.2308L44.5962 13.327C44.726 12.4616 44.7188 11.6322 44.5962 10.7885L47.6539 8.82696L46.5001 6.05773L42.9808 6.86542C42.4832 6.17311 41.8919 5.54571 41.1924 5.01927L42.0001 1.55773L39.2308 0.403884L37.327 3.40388C36.4616 3.26686 35.5818 3.28129 34.7308 3.40388L32.827 0.346191ZM36.0001 7.84619C36.5409 7.84619 37.0818 7.96879 37.6155 8.19235C39.7429 9.08658 40.7525 11.488 39.8655 13.6154C38.9784 15.7428 36.5121 16.7524 34.3847 15.8654C32.2573 14.9784 31.2477 12.5193 32.1347 10.3847C32.8054 8.7909 34.3703 7.8534 36.0001 7.84619ZM13.6155 16.7308L12.8655 21.3462C11.7477 21.6202 10.7092 22.0457 9.75008 22.6154L5.94238 19.9039L3.17315 22.6731L5.827 26.4808C5.25008 27.4399 4.83902 28.5361 4.55777 29.6539L-0.0576172 30.4039V34.327L4.55777 35.1347C4.83181 36.2524 5.24286 37.2909 5.827 38.25L3.11546 42.0577L5.88469 44.827L9.75008 42.1731C10.7092 42.75 11.7549 43.1683 12.8655 43.4423L13.6155 48.0577H17.5385L18.3462 43.4423C19.4568 43.1611 20.5097 42.6923 21.4616 42.1154L25.327 44.827L28.0962 42.0577L25.327 38.25C25.8967 37.2981 26.3222 36.2452 26.5962 35.1347L31.2693 34.327V30.4039L26.5962 29.6539C26.3222 28.5505 25.8967 27.4904 25.327 26.5385L28.0385 22.6731L25.2693 19.9039L21.4616 22.6731C20.5025 22.0962 19.4568 21.6202 18.3462 21.3462L17.5385 16.7308H13.6155ZM15.6347 26.9423C18.6563 26.9423 21.0578 29.3438 21.0578 32.3654C21.0578 35.3871 18.6563 37.8462 15.6347 37.8462C12.6131 37.8462 10.1539 35.3871 10.1539 32.3654C10.1539 29.3438 12.6131 26.9423 15.6347 26.9423Z' fill='%23646464'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 48px 48px;
    }
  }

  @include media(tablet) {
    padding: rem(40) 0 rem(60);

    &__list {
      padding: 20px;
      gap: 15;
    }
  }

  @include media(mobile-l) {
    &__list {
      grid-template-columns: 1fr;
      padding: 80px 16px;
    }
  }
}