@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.team {
  padding: 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 57px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  img {
    overflow: hidden;
    border-radius: 40px;
    max-height: 387px;
    height: 100%;
    max-width: 367px;
    box-shadow: var( --shadow-primary);
    margin-bottom: 44px;
  }

  h2 {
    margin-bottom: 40px;
  }

  h3 {
    font-size: 18px;
    font-weight: var(--fw-700);
    line-height: 1.2;
    color: var(--color-black-10);
  }

  p {
    font-size: 18px;
    font-weight: var(--fw-500);
    line-height: 1.2;
    color: var(--color-black-10);
  }
}