@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

h1,
h2,
h3 {
  font-weight: var(--fw-700);

  overflow: hidden;
  width: fit-content;
  font-family: var(--font-family-primary);
  font-size: 38px;
  color: var( --color-text-general);

  @include media(mobile-m) {
    line-height: 1.2;
  }
}


@include media(tablet) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 26px;
  }
  p {
    font-size: 18px;
  }
}

a,
button {
  font-weight: 400;
  font-family: var(--font-family-primary);
}

h2 {
  line-height: 1.2;
  color: var(--color-text-general);
}

h3 {
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-dark);
}

p {
  font-size: 26px;
  color: var(--color-text-subtitles);
  line-height: 1.2;
}